
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApplicationTransactionFieldLabel">Create or edit a Application Transaction Field</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.applicationTransactionField.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.applicationTransactionField.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.applicationTransactionField.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isIdentifier">Is Identifier</label>
                <input type="checkbox" name="isIdentifier" id="field_isIdentifier"
                          ng-model="vm.applicationTransactionField.isIdentifier"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_filterValue">Filter Value</label>
            <input type="text" class="form-control" name="filterValue" id="field_filterValue"
                    ng-model="vm.applicationTransactionField.filterValue"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isOutput">Is Output</label>
                <input type="checkbox" name="isOutput" id="field_isOutput"
                          ng-model="vm.applicationTransactionField.isOutput"/>
        </div>

        <div class="form-group">
            <label for="field_application">Application</label>
            <select class="form-control" id="field_application" name="application" ng-model="vm.applicationTransactionField.application" ng-options="applicationTransaction as applicationTransaction.name for applicationTransaction in vm.applicationtransactions track by applicationTransaction.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_applicationOverride">Application Override</label>
            <select class="form-control" id="field_applicationOverride" name="applicationOverride" ng-model="vm.applicationTransactionField.applicationOverride" ng-options="flowApplicationSequence as flowApplicationSequence.name for flowApplicationSequence in vm.flowapplicationsequences track by flowApplicationSequence.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
